!!!
%html
  %head
    %title Cashpool
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      - if current_user
        #current_user= current_user.name
        = link_to "Logout", logout_path, id: :logout
      - else
        = link_to "Log in", user_omniauth_authorize_path(:facebook), title: "Login with Facebook", id: :login
    #messages
      %p.notice= notice
      %p.alert= alert
    = yield
